<div class="d-flex justify-content-between py-1 my-3 border-bottom">
  <%= link_to "HOME", restaurants_path, class: "btn btn-outline btn-seconardy" %>
  <%= link_to "NEW", new_restaurant_path, class: "btn btn-outline btn-seconardy"%>
</div>
